{{!-- The following component displays Ember's default welcome message. --}}
<div class="grid">
  {{clock-panel class="clock"}}
  {{llama-panel class="llama"}}
</div>
{{!-- Feel free to remove this! --}}

{{outlet}}
